<footer>
        <div class="footer-main">
            <section class="footer-section">
                <h4 class="footer-section-header">About</h4>
                <ul>
                    <li><a href="/" class="hyperlink">Home</a></li>
                    <li><a href="/listings" class="hyperlink">Room Listings</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h4 class="footer-section-header">Account</h4>
                <ul>
                    <li><a href="/register" class="hyperlink">Sign Up</a></li>
                    <li><a href="/login" class="hyperlink">Login</a></li>
                </ul>
            </section>
        </div>
        
        <div class="footer-socials">
            <a href="https://instagram.com/airbnb"><img src="../images/icons/instagram.svg" alt="Instagram"></a>
            <a href="https://twitter.com/airbnb"><img src="../images/icons/twitter.svg" alt="Twitter"></a>
            <a href="https://facebook.com/airbnb"><img src="../images/icons/facebook.svg" alt="Facebook"></a>
        </div>
    </footer>