<header>
        <a href="/" class="site-logo hyperlink">
            <img src="images/logo.svg" alt="Icon">
            <span>AIRBNB</span>
        </a>
        <nav>
            <ul>
                <li><a href="/listings" class="hyperlink">Room Listings</a></li>
            </ul>
        </nav>
        <div class="header-account-actions">
            <a href="/login" class="hyperlink">Login</a>
            <a href="/register" class="hyperlink action-link">Sign Up</a>
        </div>
</header>