<div class="mobile-menu-nav-wrapper">
    <div class="mobile-menu-nav-shade"></div>
    <nav class="mobile-menu-nav">
        <div class="mobile-menu-nav-top">
            <a href="/" class="site-logo hyperlink">
                <img src="../images/logo.svg" alt="Icon">
                <span>AIRBNB</span>
            </a>

            <img src="../images/icons/close.svg" alt="" class="hamburger-menu-close">
        </div>
        <ul>
            <li><a href="/listings" class="hyperlink">Room Listings</a></li>
            <li><a href="/login" class="hyperlink">Login</a></li>
            <li><a href="/register" class="hyperlink">Sign Up</a></li>
        </ul>
    </nav>
</div>