<main>
    <div class="content-wrapper">
        <div class="welcome">
            {{#roleIs user.role "admin"}}
                <h1><strong>You are an admin</strong></h1>
                <h1>Welcome {{user.name}}!</h1>
                <p>This is the admin dashboard. There is more to come for this page</p>
            {{/roleIs}}
            {{#roleIs user.role "user"}}
                <h1>Welcome {{user.name}}!</h1>
                <p>This page is empty right now, but there is more to come!</h1>
            {{/roleIs}}
            <p>This is your email {{user.email}}</p>
        </div>
    </div>
</main>