<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb - Turning Your Vacation Into A Staycation</title>
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/home.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
</head>
<body>
    <header>
        <a href="/" id="site-logo">
            <img src="images/logo.svg" alt="Icon">
            <span>AIRBNB</span>
        </a>
        <nav>
            <ul>
                <li><a href="/listings">Room Listings</a></li>
            </ul>
        </nav>
        <div id="user-account-actions">
            <a href="/login" id="login">Login</a>
            <a href="/register" id="signup">Sign Up</a>
        </div>
    </header>

    <div class="promo-banner">
        <p>SUMMER SALE: Get 10% off with code <span class="discount-code">SUMMER10</span></p>
    </div>

    <main>
        <div id="hero-image">
            <h1>Turning your vacation <br> into a staycation</h1>
        </div>

        <div>
            <h1>What is Airbnb?</h1>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/XWUeChVZqgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>


        <div id="booking-search">
            <h1>Find a booking</h1>

            <form action="/">
                <div class="form-input" id="booking-search-location">
                    <label for="location">Location</label>
                    <select name="location" id="booking-search-form-location">
                        <option value="toronto">Toronto, ON</option>
                        <option value="vancouver">Vancouver, BC</option>
                        <option value="edmonton">Edmonton, AB</option>
                        <option value="montreal">Montreal, QC</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="checkin">Check in</label>
                    <input name="checkin" type="date">
                </div>
                <div class="form-input">
                    <label for="checkout">Check out</label>
                    <input name="checkout" type="date">
                </div>
                <div class="form-input" id="booking-search-guests">
                    <label for="guests">Guests</label>
                    <input name="guests" type="text" placeholder="No. of guests">
                </div>
                <div class="form-input" id="booking-search-submit">
                    <input type="submit" value="Search">
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="footer-main">
            <section class="footer-section">
                <h4 class="footer-section-header">About</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/listings">Room Listings</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h4 class="footer-section-header">Account</h4>
                <ul>
                    <li><a href="/register">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </section>
        </div>
        
        <div id="footer-socials">
            <a href="https://instagram.com/airbnb"><img src="images/icons/instagram.svg" alt="Instagram"></a>
            <a href="https://twitter.com/airbnb"><img src="images/icons/twitter.svg" alt="Twitter"></a>
            <a href="https://facebook.com/airbnb"><img src="images/icons/facebook.svg" alt="Facebook"></a>
        </div>
    </footer>
</body>
</html>