<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb - Come Home</title>
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/home.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
</head>
<body>
    <div class="promo-banner">
        <p>SUMMER SALE: Get 10% off with code <span class="discount-code">SUMMER10</span></p>
    </div>

    <header>
        <a href="/" class="site-logo hyperlink">
            <img src="images/logo.svg" alt="Icon">
            <span>AIRBNB</span>
        </a>
        <nav>
            <ul>
                <li><a href="/listings" class="hyperlink">Room Listings</a></li>
            </ul>
        </nav>
        <div class="header-account-actions">
            <a href="/login" class="hyperlink">Login</a>
            <a href="/register" class="hyperlink action-link">Sign Up</a>
        </div>
    </header>

    <main>
        <div id="hero-image">
            <div id="hero-image-content-wrapper">
                <div id="hero-content">
                    <h1>Come Home</h1>
                    <p>Find unique places to stay across Canada</p>
                </div>
                <div id="hero-action">
                    <a href="#about" class="hyperlink action-link">What is Airbnb?</a>
                </div>
            </div>
        </div>

        <div id="about">
            <section class="about-spotlight">
                <div class="about-media">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XWUeChVZqgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                </div>
            </section>
            <div id="about-main">
                <section class="about-section">
                    <div class="about-media">
                        <img src="images/homepage/about-home-away.jpg" alt="Family cooking">
                    </div>
                    <div class="about-content">
                        <h2 class="about-content-title">Your home away from home</h2>
                        <p class="about-content-text">Connect with hosts and live in unique places. Book rooms from  across Canada and vacation like you live there.</p>
                        <a href="/listings" class=" hyperlink action-link">Room listings</a>
                    </div>
                </section>
                <section class="about-section">
                    <div class="about-media">
                        <img src="images/homepage/about-home-earn.jpg" alt="People on a bed">
                    </div>
                    <div class="about-content">
                        <h2 class="about-content-title">Earn while you're away</h2>
                        <p class="about-content-text">List your room on Airbnb and earn while you're not home. List on your own terms. Set your price, rules and safety features, and Airbnb will connect you with a guest.</p>
                        <a href="/register" class=" hyperlink action-link">Sign up today</a>
                    </div>
                </section>
                <section class="about-section" id="booking-search">
                    <div class="about-content" id="booking-search-blurb">
                        <h2 class="about-content-title">Search from dozens of rooms</h2>
                        <p class="about-content-text">Find dozens of unique rooms across Canada. Select the location, enter in the duration of your stay and the number of guests, and we'll find you what's available!</p>
                    </div>
                    <div class="about-media">
                        <div class="form-card">
                            <h1 class="form-title">Find a booking</h1>
                            <form action="/">
                                <div class="form-row">
                                    <div class="form-input">
                                        <label for="location">Location</label>
                                        <select name="location" class="input-box">
                                            <option value="toronto">Toronto, ON</option>
                                            <option value="vancouver">Vancouver, BC</option>
                                            <option value="edmonton">Edmonton, AB</option>
                                            <option value="montreal">Montreal, QC</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="booking-dates">
                                        <div class="form-input">
                                            <label for="checkin">Check in</label>
                                            <input name="checkin" type="date" class="input-box">
                                        </div>
                                        <div class="form-input">
                                            <label for="checkout">Check out</label>
                                            <input name="checkout" type="date" class="input-box">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-input">
                                        <label for="guests">Guests</label>
                                        <input name="guests" type="text" placeholder="No. of guests" class="input-box">    
                                    </div>
                                </div>
                    
                                <div class="form-row">
                                    <div class="form-input">
                                        <input type="submit" value="Search" class="submit-form">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-main">
            <section class="footer-section">
                <h4 class="footer-section-header">About</h4>
                <ul>
                    <li><a href="/" class="hyperlink">Home</a></li>
                    <li><a href="/listings" class="hyperlink">Room Listings</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h4 class="footer-section-header">Account</h4>
                <ul>
                    <li><a href="/register" class="hyperlink">Sign Up</a></li>
                    <li><a href="/login" class="hyperlink">Login</a></li>
                </ul>
            </section>
        </div>
        
        <div class="footer-socials">
            <a href="https://instagram.com/airbnb"><img src="images/icons/instagram.svg" alt="Instagram"></a>
            <a href="https://twitter.com/airbnb"><img src="images/icons/twitter.svg" alt="Twitter"></a>
            <a href="https://facebook.com/airbnb"><img src="images/icons/facebook.svg" alt="Facebook"></a>
        </div>
    </footer>
</body>
</html>