<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Listings - Airbnb</title>
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/listings.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
</head>
<body>
    <div class="promo-banner">
        <p>SUMMER SALE: Get 10% off with code <span class="discount-code">SUMMER10</span></p>
    </div>

    <header>
        <a href="/" class="site-logo hyperlink">
            <img src="images/logo.svg" alt="Icon">
            <span>AIRBNB</span>
        </a>
        <nav>
            <ul>
                <li><a href="/listings" class="hyperlink">Room Listings</a></li>
            </ul>
        </nav>
        <div class="header-account-actions">
            <a href="/login" class="hyperlink">Login</a>
            <a href="/register" class="hyperlink action-link">Sign Up</a>
        </div>
    </header>
    
    <main>
        <h1>Room listings</h1>

        <div id="room-listings">
            <section class="room-card">
                <a href=""><img src="images/rooms/room1.jpg" alt="Room 1" loading="lazy" class="room-image"></a>
                <p class="room-header">
                    <span class="room-type">Apartment</span>
                    &#8226;
                    <span class="room-location">Toronto</span>
                <h3 class="room-title"><a href="" class="hyperlink">Downtown Toronto Apartment - FREE WIFI</a></h3>
                <p class="room-price">$130 CAD/night</p>
                <div class="room-ratings-section">
                    <img src="images/icons/star.svg" alt="Star Icon" class="star-icon">
                    <span class="room-rating">4.67</span>
                    <span class="room-num-ratings">(121)</span>
                </div>
            </section>
            <section class="room-card">
                <a href=""><img src="images/rooms/room2.jpg" alt="Room 2" loading="lazy" class="room-image"></a>
                <p class="room-header">
                    <span class="room-type">House</span>
                    &#8226;
                    <span class="room-location">Toronto</span>
                <h3 class="room-title"><a href="" class="hyperlink">Downtown Toronto 2 Story House</a></h3>
                <p class="room-price">$340 CAD/night</p>
                <div class="room-ratings-section">
                    <img src="images/icons/star.svg" alt="Star Icon" class="star-icon">
                    <span class="room-rating">4.71</span>
                    <span class="room-num-ratings">(98)</span>
                </div>
            </section>
            <section class="room-card">
                <a href=""><img src="images/rooms/room3.jpg" alt="Room 3" loading="lazy" class="room-image"></a>
                <p class="room-header">
                    <span class="room-type">Apartment</span>
                    &#8226;
                    <span class="room-location">Edmonton</span>
                <h3 class="room-title"><a href="" class="hyperlink">Apartment with City Skyline View</a></h3>
                <p class="room-price">$190 CAD/night</p>
                <div class="room-ratings-section">
                    <img src="images/icons/star.svg" alt="Star Icon" class="star-icon">
                    <span class="room-rating">4.56</span>
                    <span class="room-num-ratings">(154)</span>
                </div>
            </section>
            <section class="room-card">
                <a href=""><img src="images/rooms/room4.jpg" alt="Room 4" loading="lazy" class="room-image"></a>
                <p class="room-header">
                    <span class="room-type">Apartment</span>
                    &#8226;
                    <span class="room-location">Vancouver</span>
                <h3 class="room-title"><a href="" class="hyperlink">Vancouver Apartment (close to public transport)</a></h3>
                <p class="room-price">$270 CAD/night</p>
                <div class="room-ratings-section">
                    <img src="images/icons/star.svg" alt="Star Icon" class="star-icon">
                    <span class="room-rating">4.81</span>
                    <span class="room-num-ratings">(59)</span>
                </div>
            </section>
            <section class="room-card">
                <a href=""><img src="images/rooms/room5.jpg" alt="Room 5" loading="lazy" class="room-image"></a>
                <p class="room-header">
                    <span class="room-type">House</span>
                    &#8226;
                    <span class="room-location">Montreal</span>
                <h3 class="room-title"><a href="" class="hyperlink">Downtown Montreal House with Balcony</a></h3>
                <p class="room-price">$200 CAD/night</p>
                <div class="room-ratings-section">
                    <img src="images/icons/star.svg" alt="Star Icon" class="star-icon">
                    <span class="room-rating">4.76</span>
                    <span class="room-num-ratings">(192)</span>
                </div>
            </section>
            <section class="room-card">
                <a href=""><img src="images/rooms/room6.jpg" alt="Room 6" loading="lazy" class="room-image"></a>
                <p class="room-header">
                    <span class="room-type">House</span>
                    &#8226;
                    <span class="room-location">Vancouver</span>
                <h3 class="room-title"><a href="" class="hyperlink">2 Story House On The Outskirts Of Vancouver</a></h3>
                <p class="room-price">$320 CAD/night</p>
                <div class="room-ratings-section">
                    <img src="images/icons/star.svg" alt="Star Icon" class="star-icon">
                    <span class="room-rating">4.92</span>
                    <span class="room-num-ratings">(21)</span>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="footer-main">
            <section class="footer-section">
                <h4 class="footer-section-header">About</h4>
                <ul>
                    <li><a href="/" class="hyperlink">Home</a></li>
                    <li><a href="/listings" class="hyperlink">Room Listings</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h4 class="footer-section-header">Account</h4>
                <ul>
                    <li><a href="/register" class="hyperlink">Sign Up</a></li>
                    <li><a href="/login" class="hyperlink">Login</a></li>
                </ul>
            </section>
        </div>
        
        <section class="footer-socials">
            <a href="https://instagram.com/airbnb"><img src="images/icons/instagram.svg" alt="Instagram"></a>
            <a href="https://twitter.com/airbnb"><img src="images/icons/twitter.svg" alt="Twitter"></a>
            <a href="https://facebook.com/airbnb"><img src="images/icons/facebook.svg" alt="Facebook"></a>
        </section>
    </footer>
</body>
</html>