<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Airbnb</title>
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/register.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
</head>
<body class="user-form-page-body">
    <main class="user-form-page-main">
        <div class="airbnb-logo">
            <a href="/" class="site-logo">
                <img src="images/logo.svg" alt="Icon">
                <span>AIRBNB</span>
            </a>
        </div>
        
        <div class="form-card">
            <h1 class="form-title">Register</h1>
            <form action="/">
                <div class="form-row">
                    <div class="user-name">
                        <div class="form-input" id="register-fname">
                            <label for="fname">First Name</label>
                            <input type="text" name="fname" class="input-box" placeholder="First Name">
                        </div>
                        <div class="form-input" id="register-lname">
                            <label for="lname">Last Name</label>
                            <input type="text" name="lname" class="input-box"  placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-input" id="register-email">
                        <label for="email">Email Address</label>
                        <input type="text" name="email" class="input-box" placeholder="Email Address">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-input" id="register-password">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="input-box" placeholder="Password">
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="user-birthday-header">
                        <h2>Birthday</h2>
                        <p>You must be at least 18 or older to sign up</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="user-birthday">
                        <div class="form-input" id="register-birthday-day">
                            <label for="day">Day</label>
                            <input id="user-birthday-day" class="input-box" type="text" name="day" placeholder="DD" maxlength="2">
                        </div>
                        <div class="form-input" id="register-birthday-month">
                            <label for="month">Month</label>
                            <input id="user-birthday-month" class="input-box" type="text" name="month" placeholder="MM" maxlength="2">
                        </div>
                        <div class="form-input" id="register-birthday-year">
                            <label for="year">Year</label>
                            <input id="user-birthday-year" class="input-box" type="text" name="year" placeholder="YYYY" maxlength="4">
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-input">
                        <input type="submit" value="Sign up" class="submit-form">
                    </div>
                </div>
            </form>
        </div>
        
        <div class="user-form-page-cta">
            <p>Have an account? <span><a href="/login">Login</a></span></p>
        </div>
    </main>
</html>