<main>
    <div class="content-wrapper">
        <div class="welcome">
            <h1>Welcome {{user.name}}!</h1>
            <p>This page is empty right now, but there is more to come!</h1>
            <p>This is your email {{user.email}}</p>
        </div>
    </div>
</main>