<main>
    <div class="content-wrapper">
        <div class="welcome">
            <h1>Welcome {{user.name}}!</h1>
            <p>These are the rooms you have booked</p>
            {{> roomListings}}
        </div>
    </div>
</main>