main { 
    margin: auto;
    padding: 1rem 2rem;
    max-width: 1140px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-actions {
    width: 33.3%;
}

.room-listings {
    width: 66.6%;
}