main {
    max-width: 1140px;
    margin: auto;
    padding: 1rem 2rem;
    min-height: 100vh;
}

.welcome {
    text-align: center;
    margin: 2em 0;
    margin-bottom: 3em;
}

.rooms-booked {
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2em;
}

.room-card {
    max-height: 300px;
    display: grid;
    grid-template-columns: 25% 75%;
    column-gap: 2em;
    transition: all 0.1s ease-in;
    padding: 1em;
    border-radius: 1em;
}

.room-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.01, 1.01);
}

.room-booking-details {
    margin: auto 0;
}

@media only screen and (max-width: 500px) {
    .room-card {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        max-height: max-content;
        column-gap: 0;
        row-gap: 0;
        padding: 0;
    }

    .room-card:hover {
        box-shadow: none;
        transform: none;
    }
}