@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-x-center {
    display: flex;
    align-items: center;
  }

  .flex-y-center {
    display: flex;
    justify-content: center;
  }

  @variants responsive {
    .header-xs {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    .header-sm {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .header-md {
      font-weight: 600;
      font-size: 1.875rem;
      line-height: 2.25rem;
    }

    .header-lg {
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    .header-xl {
      font-weight: 600;
      font-size: 3rem;
      line-height: 1;
    }

    .header-md-bold {
      font-weight: 700;
      font-size: 1.875rem;
      line-height: 2.25rem;
    }

    .header-lg-bold {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    .header-xl-bold {
      font-weight: 700;
      font-size: 3rem;
      line-height: 1;
    }

    .subheader {
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}

@layer components {
  .header-logo {
    @apply h-8 w-auto sm:h-6;
  }

  .cta-button {
    @apply border-2 border-accent-400 py-2 px-4 rounded-md 
    hover:bg-accent-400 hover:text-white transition duration-100 ease-in-out;
  }

  .search-form {
    @apply flex items-center bg-gray-200 px-4 py-2 
      border-2 focus-within:border-accent-400 w-full
      transition duration-75 ease-in-out;
  }

  .search-form-input {
    @apply bg-gray-200 outline-none w-full;
  }

  .hero-item {
    @apply absolute top-0 left-0 flex flex-col justify-evenly items-start 
        p-10 h-full text-gray-100 font-semibold;
  }

  .homepage-featured-section {
    @apply flex flex-col items-center my-16 w-full max-w-screen-lg m-auto;
  }

  .category-image {
    @apply rounded-full w-32 h-32 md:w-36 md:h-36 lg:w-44 lg:h-44;
  }

  .product-wrapper {
    @apply py-4 px-2 flex items-center w-full
          md:flex-col md:items-start md:w-1/3 lg:w-1/4;
  }

  .product-image {
    @apply w-1/2 flex-1 md:w-full md:flex md:max-w-250;
  }

  .product-name {
    @apply inline-block font-semibold leading-6 max-h-12 w-full 
        overflow-hidden overflow-ellipsis;
  }
}
