/** PROMO Banner*/
.promo-banner {
    display: flex;
    justify-content: center;
    background-color: #ff385c;
    color: white;
    font-weight: 700;
    padding: 1em 0;
}

.promo-banner p {
    margin: 0;
    padding: 0;
}

.discount-code {
    background-color: black;
    border-radius: 5px;
    padding: 0.5em;
    margin-left: 0.1em;
}

/** Hero image */
#hero-image {
    background-image: linear-gradient(0deg, rgba(58, 58, 58, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75vh;
}

#hero-image > h1 {
    font-size: 6rem;
    font-weight: 700;
    color: white;
    margin-right: 1.5em;
}

/** Booking search form */
#booking-search {
    border: 1px solid black;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
}

#booking-search h1 {
    margin: 0.5em 0;
    padding: 0;
    text-align: center;
    font-size: 1.75rem;
}

#booking-search > form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 1em;
    column-gap: 0.5em;
}

#booking-search-location, #booking-search-guests {
    grid-column: span 2;
}

#booking-search-submit {
    grid-column-start: 2;
}