body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main {
    max-width: 475px;
    width: 100%;
}

/** LOGO */
#airbnb-logo a{
    text-decoration: none;
    color: black;
}

#site-logo {
    font-size: 1.2rem;
}

#site-logo > img {
    width: 55px;
    margin-right: 0.5em;
}

/** REGISTER ACCOUNT ACTION */
#register-account p {
    text-align: center;
}

#register-account a {
    color: #3434ff;
    text-decoration: none;
    margin: 0 auto;
    font-weight: 700;
}