/** LOGO */
.airbnb-logo {
    display: block;
}

.airbnb-logo a {
    text-decoration: none;
    color: black;
}

.site-logo {
    font-size: 1.2rem;
}

.site-logo > img {
    width: 55px;
    margin-right: 0.5em;
}

/** USER NAME */
.user-name {
    display: flex;
}

.user-name .form-input {
    width: 100%;
}

/** USER BIRTHDAY */
.user-name .form-input:first-child {
    margin-right: 0.5em;
}

.user-birthday-header * {
    margin: 0;
}

.user-birthday-header h2 {
    font-size: 1.25rem;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.user-birthday {
    display: flex;
}

.user-birthday > *:first-child {
    margin-right: 0.5em;
}

.user-birthday > *:last-child {
    margin-left: 0.5em;
}

@media only screen and (max-width: 700px) {
    .airbnb-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}