body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main {
    max-width: 475px;
    width: 100%;
}

/** LOGO */
#airbnb-logo a{
    text-decoration: none;
    color: black;
}

#site-logo {
    font-size: 1.2rem;
}

#site-logo > img {
    width: 55px;
    margin-right: 0.5em;
}

/** USER NAME */
.user-name {
    display: flex;
}

.user-name .form-input {
    width: 100%;
}

/** USER BIRTHDAY */
.user-name .form-input:first-child {
    margin-right: 0.5em;
}

.user-birthday-header * {
    margin: 0;
}

.user-birthday-header h2 {
    font-size: 1.25rem;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.user-birthday {
    display: flex;
}

.user-birthday > *:first-child {
    margin-right: 0.5em;
}

.user-birthday > *:last-child {
    margin-left: 0.5em;
}

/** USER LOGIN ACTION */
#login-account p {
    text-align: center;
}

#login-account a {
    color: #3434ff;
    text-decoration: none;
    margin: 0 auto;
    font-weight: 700;
}