@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: content-box;
}

/*TODO: Style this to be better*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > * {
    margin-bottom: 1em;
}

#header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding: 1em 0;
}

#header-main > * {
    margin: 0 4vw;
}

/** Site logo*/
#site-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
}

#site-logo > img {
    margin-right: 1em;
}

/** Header hyperlinks */
#header-main a {
    color: black;
    text-decoration: none;
}

#header-main a:visited {
    color: black;
    text-decoration: none;
}

#header-main a:hover {
    text-decoration: underline;
}

/** Header nav links */
#header-main nav ul, footer > nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#header-main nav ul li {
    margin: 0;
    padding: 0;
    display: inline;
}

#account-info {
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0.5em;
    text-align: center;
}

/** Booking search form */
#booking-search {
    float: right;
    border: 1px solid black;
    padding: 1em;
    border-radius: 1em;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#booking-search h1 {
    margin: 0.5em 0;
    padding: 0;
    text-align: center;
    font-size: 1.75rem;
}

#booking-search > form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 1em;
    column-gap: 0.5em;
}

.booking-search-input {
    display: flex;
    flex-direction: column;
}

.booking-search-input label {
    margin-bottom: 0.5em;
    font-weight: 700;
}

.booking-search-input > :is(select, input) {
    padding: 0.5em 0.5em;
    border: 1px solid black;
    font-size: 0.85rem;
    border-radius: 0.5em;
}

.booking-search-input > :is(select, input):focus {
    outline: none;
}

#booking-search-location, #booking-search-guests {
    grid-column: span 2;
}

#booking-search-submit {
    grid-column-start: 2;
}

/** PROMO Banner*/
.promo-banner {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    font-weight: 700;
    padding: 1em 0;
}

.promo-banner p {
    margin: 0;
    padding: 0;
}

/** FOOTER nav*/
footer > nav {
    display: flex;
}
.footer-nav-section-header {
    font-weight: 700;
    margin: 0;
    padding: 0;
}