@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-x-center {
    display: flex;
    align-items: center;
  }

  .flex-y-center {
    display: flex;
    justify-content: center;
  }

  @variants responsive {
    .header-lg-bold {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    .header-sm-bold {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

@layer components {
  .lotto-number {
    @apply font-bold text-3xl 
    w-16 h-16
    border border-black rounded 
    hover:scale-110 transition-all duration-100;
  }

  .bet-amount {
    @apply font-bold text-3xl 
    w-20 h-20
    border border-black rounded 
    hover:scale-110 transition-all duration-100;
  }
}
